.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max(25%, 200px);
  border: 2px solid black;
  border-radius: 20px;
}

.buttons {
    width: 90%;
}
